/*
    ========================
    RESET CSS
    ========================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ========================
    ROOT & UTILITIES
    ========================
*/

:root {
    --bg-wrapper-main: #F0F2F5;
    --bg-header: #FFF;
    --color-title-header: #CC0000;
    --bg-btn: #CC0000;
    --color-btn-Hover: #A30000;
    --color-txt-label: #4b5563;
    --color-border-btn: #CC0000;
    --color-border-table: #4b5563;
    --color-txt-btn: #FFF;
    --bg-card: #FFF;
}

.txt-grey-label {
    color: var(--color-txt-label);
}

/*
    =========================
    HEADER
    =========================
*/

.header-container {
    min-height: 125px;
    background-color: var(--bg-header);
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid;
    color: var(--color-title-header);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 100;
    position: relative;
}

/*
    =========================
    MAIN
    =========================
*/

.wrapper {
    min-height: calc(100vh - 125px);
    background-color: var(--bg-wrapper-main);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

/* --- Form --- */

.form-select {
    width: 88%;
}

/* --- Card --- */

.card {
    border-radius: 20px;
    background-color: var(--bg-card);
}

/* --- Bottone input --- */

.btn-ticket {
    padding: 5px 10px;
    border: 1px solid var(--color-border-btn);
    border-radius: 20px;
    color: var(--color-txt-btn);
    background-color: var(--bg-btn);
    font-weight: bold;
    transition: all 0.4s ease;
}

.btn-ticket:hover {
    transform: scale(1.1);
    background-color: var(--color-btn-Hover);
}